.setting-page-container {
  width: 100%;
  display: flex;
  padding: 1rem 0;
}
.setting-menu {
  width: 25%;
  border-right: 1px solid var(--light-border);
  padding: 0.5rem 1rem;
}
.setting-menu h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 17px;
  margin-bottom: 1rem;
}
.setting-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.2rem;
}
.setting-menu ul li a {
  text-transform: capitalize;
}
.active-setting-link {
  color: var(--theme-color);
  font-weight: 600;
}

.selected-setting {
  width: 75%;
  padding: 0.5rem 5rem;
}
.selected-setting-container {
  width: 100%;
  display: grid;
  gap: 1.4rem;
}
.selected-setting-container h4 {
  text-transform: capitalize;
}
.toggle-theme-container, .setting-logout-container {
  display: grid;
  gap: .3rem;
}
.toggle-theme-container a, .setting-logout-container a{
  padding: .5rem 1rem;
  border-radius: var(--radius);
  background-color:var(--light-btn);
  width: fit-content;
  text-transform: capitalize;
  font-size: 17px;
}
.edit-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--light-btn);
  border: 1px solid var(--light-border);
  border-radius: var(--radius);
}
.edit-image-container button {
  width: 30%;
}
.setting-section-para {
  text-transform: capitalize;
  font-size: 14px;
}
.edit-bio-container textarea {
  width: 100%;
  margin-top: 0.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: var(--radius);
  font-size: 17px;
}
.edit-website-container input, .edit-role-container input {
  width: 100%;
  margin-top: 0.2rem;
}
.setting-edit-button {
  background-color: var(--theme-color);
  color: var(--light-background);
  border-radius: var(--radius);
  padding: 0.2rem 0.5rem;
}
.setting-input-little-description{
  margin-top: .2rem;
  font-size: 13px;
}
