.setting-page-container {
  width: 100%;
  display: flex;
  padding: 1rem 0;
}
.setting-menu {
  width: 25%;
  border-right: 1px solid var(--light-border);
  padding: 0.5rem 1rem;
}
.setting-menu h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 17px;
  margin-bottom: 1rem;
}
.setting-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.2rem;
}
.setting-menu ul li a {
  text-transform: capitalize;
}
.active-setting-link {
  color: var(--theme-color);
  font-weight: 600;
}

.selected-setting {
  width: 75%;
  padding: 0.5rem 5rem;
}
.selected-setting-container {
  width: 100%;
  display: grid;
  gap: 1.4rem;
}
.selected-setting-container h4 {
  text-transform: capitalize;
}
.toggle-theme-container, .setting-logout-container {
  display: grid;
  gap: .3rem;
}
.toggle-theme-container a, .setting-logout-container a{
  padding: .5rem 1rem;
  border-radius: var(--radius);
  background-color:var(--light-btn);
  width: fit-content;
  text-transform: capitalize;
  font-size: 17px;
}
.edit-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-border);
  border-radius: var(--radius);
}
.setting-edit-photo-button-contaner{
  background-color: var(--light-btn);
  border-radius: var(--radius);
  width: 20%;
  height: 80%;
  overflow: hidden;
  display: grid;
  place-content: center;
  position: relative;
  color: var(--text-color);
}
.setting-edit-photo-button-contaner p {
  text-transform: capitalize;
}
.setting-edit-photo-button-contaner input{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.edit-photo-selected-image{
  font-size: 14px;
  font-weight: 500;
  color: var(--theme-color);
  display: flex;
  justify-content: end;
}
.setting-section-para {
  text-transform: capitalize;
  font-size: 14px;
}
.edit-bio-container textarea, .edit-role-container select {
  width: 100%;
  margin-top: 0.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: var(--radius);
  font-size: 17px;
  background-color: transparent;
  color: var(--text-color);
}
.edit-website-container input {
  width: 100%;
  margin-top: 0.2rem;
}
.edit-role-container select{
  width: 80%;
}
.edit-role-container select option{
  background-color: transparent;
  color: var(--text-color);
}
.setting-edit-button {
  background-color: var(--light-btn);
  color: var(--light-background);
  border-radius: var(--radius);
  padding: 0.2rem 0.5rem;
  color: var(--text-color);
  text-transform: capitalize;
}
.setting-input-little-description{
  margin-top: .2rem;
  font-size: 13px;
}
.updating-button{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}