.home-main-container{
    width: 100vw;
    display: flex;
}
.home-main-container aside{
    border-right: 1px solid var(--light-border);
    height: 100vh;
    width: 14%;
}
.home-main-container main{
    width: 86%;
}
@media screen and (max-width: 1200px) {
    .home-main-container aside{
        width: 17%;
    }
    .home-main-container main{
        width: 83%;
    }
}
@media screen and (max-width: 992px) {
    .home-main-container aside{
        width: 20%;
    }
    .home-main-container main{
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .home-main-container main{
        width: 100vw;
    }
    .home-main-container aside{
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: unset;
    }
}